.links li a {
    color: white; /* Set the text color to white */
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: black;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}


/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: white;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
  background-color: red;
  font-size: 20px;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: white;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
  background-color: red;
}
.landing-page .content .image img {
  max-width: 100%;
}
footer {
  background-color: lightslategrey;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.fa{
    padding: 1px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
}
/* End Landing Page */